{% set shortname = salt['pillar.get']('shortname') -%}

options {
    directory "/var/cache/bind";
    statistics-file "/var/log/bind/named.stats";

    listen-on {
        127.0.0.1;
        {% for hoodname,hood in salt['pillar.get']('hoods').items() %}
          {{ hood['network']['ipv4'][shortname] }};
        {%- endfor %}
        {{ grains.fqdn_ip4[0] }};
        {{ network.lo.ipv4.ffrl }};
    };
    listen-on-v6 { any; };

    allow-transfer { "xferhosts" ; };
    query-source address {{ network.lo.ipv4.ffrl }};
    transfer-source-v6 {{ grains.fqdn_ip6[0] }};
    query-source-v6 address {{ network.lo.ipv6.ffrl }};

#    dns64 {{ network.nat64.v6_range }} {
#        clients { {{ ffka.v6_ffrl }}; };
#    };

    dnssec-validation auto;
    auth-nxdomain no;    # conform to RFC1035

    allow-query { any; };
    allow-recursion { "recursionhosts" ; };
    allow-query-cache { "recursionhosts" ; };
};
