// forward zones for Freifunk
zone "karlsruhe.freifunk.net" {
       type slave;
       file "/etc/bind/zones/slave/karlsruhe.freifunk.net";
       masters {
       {{ ffka.dns_master }};
       };
};
zone "ffka.tech" {
       type slave;
       file "/etc/bind/zones/slave/ffka.tech";
       masters {
       {{ ffka.dns_master }};
       };
};
zone "freifunk-karlsruhe.de" {
       type slave;
       file "/etc/bind/zones/slave/freifunk-karlsruhe.de";
       masters {
       {{ ffka.dns_master }};
       };
};
zone "ka-freifunk.net" {
       type slave;
       file "/etc/bind/zones/slave/ka-freifunk.net";
       masters {
       {{ ffka.dns_master }};
       };
};
zone "ka-freifunk.de" {
       type slave;
       file "/etc/bind/zones/slave/ka-freifunk.de";
       masters {
       {{ ffka.dns_master }};
       };
};
zone "ffka.net" {
       type slave;
       file "/etc/bind/zones/slave/ffka.net";
       masters {
       {{ ffka.dns_master }};
       };
};
zone "ffka" {
       type slave;
       file "/etc/bind/zones/slave/ffka";
       masters {
       {{ ffka.dns_master }};
       };
};
zone "ffog" {
       type slave;
       file "/etc/bind/zones/slave/ffog";
       masters {
       {{ ffka.dns_master }};
       };
};

zone "nodes.karlsruhe.freifunk.net" {
       type slave;
       file "/etc/bind/zones/slave/nodes.karlsruhe.freifunk.net";
       masters {
       {{ ffka.dns_master }};
       };
};

zone "nodes.ffka.tech" {
       type slave;
       file "/etc/bind/zones/slave/nodes.ffka.tech";
       masters {
       {{ ffka.dns_master }};
       };
};

zone "clients.karlsruhe.freifunk.net" {
       type slave;
       file "/etc/bind/zones/slave/clients.karlsruhe.freifunk.net";
       masters {
       {{ ffka.dns_master }};
       };
};

zone "clients.ffka.tech" {
       type slave;
       file "/etc/bind/zones/slave/clients.ffka.tech";
       masters {
       {{ ffka.dns_master }};
       };
};

// reverse zones for Freifunk
zone "214.10.in-addr.arpa" {
       type slave;
       file "/etc/bind/zones/slave/214.10.in-addr.arpa";
       masters {
       {{ ffka.dns_master }};
       };
};
zone "100.168.192.in-addr.arpa" {
       type slave;
       file "/etc/bind/zones/slave/100.168.192.in-addr.arpa";
       masters {
       {{ ffka.dns_master }};
       };
};
zone "a.0.0.0.0.6.2.2.3.0.a.2.ip6.arpa" {
       type slave;
       file "/etc/bind/zones/slave/a.0.0.0.0.6.2.2.3.0.a.2.ip6.arpa";
       masters {
       {{ ffka.dns_master }};
       };
};
