logging {
        category default { null; };
        category unmatched { null; };
};
statistics-channels {
        inet 127.0.0.1 port 18888 allow { 127.0.0.1; };
        inet ::1 port 18888 allow { ::1; };
};
