options {
directory "/var/cache/bind";
statistics-file "/var/log/bind/named.stats";
dnssec-validation auto;

auth-nxdomain no;    # conform to RFC1035
listen-on-v6 { any; };
allow-query { any; };
transfer-source-v6 {{ grains.fqdn_ip6[0] }};
      dns64 {{ network.nat64.v6_range }} {
              clients { {{ ffka.v6_ffrl }}; };
      };
 query-source-v6 address {{ network.lo_ffka.ipv6.ip }} ;

// freifunk
      listen-on {
       127.0.0.1;
{% for hoodname,hood in salt['pillar.get']('hoods').items() %}
  {{ hood['network']['ipv4'][shortname] }};
{% endfor %}
  {{ grains.fqdn_ip4[0] }};
  {{ network.lo_ffka.ipv4.ip }};
      };
      allow-transfer { "xferhosts" ; };
      allow-recursion { "recursionhosts" ; };
      allow-query-cache { "recursionhosts" ; };
   query-source address {{ network.lo_ffka.ipv4.ip }};

};
