acl:
  - id: entropia_slave_allow_transfer    # Allow entropia slave to retrieve zone from freifunk master
    address: [2a01:4f8:221:2f83:2120::2]
    action: transfer
  - id: entropia_master_allow_notify     # Allow freifunk slave to retrieve notifications from entropia master
    address: [2a01:4f8:221:2f83:2120::2]
    action: notify
