mod-synthrecord:
  
{% for domain_id, domain in salt['domain_networking.get_domains']().items() %}
{%- set main_network = domain['ipv6'].keys() | list | first %}
  - id: {{ domain_id }}_forward
    type: forward
    prefix: dynamic-
    ttl: 400
    network: {{ main_network }}
  - id: {{ domain_id }}_reverse
    type: reverse
    prefix: dynamic-
    origin: {{ domain_id }}.ffka-ipconnect.de
    ttl: 400
    network: {{ main_network }}
{% endfor %}

  - id: 6e3_forward
    type: forward
    prefix: dynamic-
    ttl: 400
    network: 2001:678:6e3::/48
  - id: 6e3_reverse
    type: reverse
    prefix: dynamic-
    origin: ffka-ipconnect.de
    ttl: 400
    network: 2001:678:6e3::/48
