server:
    # Listen on all configured IPv4 interfaces.
    listen: 0.0.0.0@53
    # Listen on all configured IPv6 interfaces.
    listen: ::@53
    # User for running the server.
    # user: knot:knot

log:
  - target: syslog
    any: info

include: zones.*.conf
