server:
    listen: {{ grains.fqdn_ip4[0] }}@53
    listen: {{ grains.fqdn_ip6[0] }}@53

    # User for running the server.
    # user: knot:knot

log:
  - target: syslog
    any: info

include: templates.conf
include: remotes.conf
include: zones.*.conf
