remote:
  - id: entropia_master
    address: 2a01:4f8:c0c:c5e5::1@53
    key: dns.entropia.de-ffka
  - id: entropia_slave
    address: 2a01:4f8:c0c:c5e5::1@53
    key: dns.entropia.de-ffka
  - id: gpn_noc_master
    address: 2a0e:c5c0:0:201::17
