template:
  - id: master_entropia_slave        # we are master, entropia is slave -> allow AXFR from entropia
    storage: /etc/knot/zones/
    semantic-checks: on
    acl: [entropia_slave_allow_transfer]
    notify: [entropia_master]
  - id: slave_entropia_master        # we are slave, entropia is master -> allow notify
    storage: /etc/knot/zones/
    semantic-checks: off
    master: entropia_master
    acl: [entropia_master_allow_notify]
  - id: master_deprecated_slave
    storage: /etc/knot/zones/
    semantic-checks: on
    acl: [deprecated_slave_allow_transfer]
    notify: [deprecated_master]