template:
  - id: master_entropia_slave           # we are master, entropia is slave -> allow AXFR from entropia
    storage: /etc/knot/zones/
    semantic-checks: on
    acl: [entropia_slave_allow_transfer]
    notify: [entropia_master]
  - id: reverse_master_entropia_slave   # we are master, entropia is slave -> allow AXFR from entropia
    storage: /etc/knot/zones/reverse/
    semantic-checks: on
    acl: [entropia_slave_allow_transfer]
    notify: [entropia_master]

  - id: reverse_master   # we are master, no slave
    storage: /etc/knot/zones/reverse/
    semantic-checks: on

  - id: slave_entropia_master           # we are slave, entropia is master -> allow notify
    storage: /var/lib/knot/zones/
    semantic-checks: off
    master: entropia_slave
    acl: [entropia_master_allow_notify]
  - id: master_deprecated_slave
    storage: /etc/knot/zones/
    semantic-checks: on
    acl: [deprecated_slave_allow_transfer]
    notify: [deprecated_master]
