interface br_ffka
{
  IgnoreIfMissing on;
  AdvSendAdvert on;
  MinRtrAdvInterval 10;
  MaxRtrAdvInterval 30;
  AdvSourceLLAddress on;
  AdvManagedFlag off;
  AdvOtherConfigFlag on;
  AdvReachableTime 0;
  AdvRetransTimer 0;
  AdvCurHopLimit 64;
  AdvLinkMTU 1400;
  #AdvDefaultLifetime 30;
  AdvHomeAgentFlag off;
  AdvDefaultPreference medium;
  UnicastOnly on;

  prefix {{ ffka.v6_ffrl_ffka }}
  {
    AdvValidLifetime 10800;
    AdvPreferredLifetime 3600;
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr on;
  };


  RDNSS {{ network.br_ffka.ipv6.ip }}
  {
    AdvRDNSSLifetime 300;
  };

  DNSSL clients.frickelfunk.net
  {
    AdvDNSSLLifetime 300;
  };
};
