{% set shortname = salt['pillar.get']('shortname') -%}
{% for hoodname,hood in salt['pillar.get']('hoods').items() %}
protocol radv-{{ hoodname }} {
	interface "br_{{ hoodname }}" {
		prefix {{ hood['network']['ipv6']['net'] }};
	};
	rdnss {
    lifetime mult 10;
    ns {{ hood['network']['ipv6'][shortname] }};
  };

  dnssl {
    lifetime 3600;
    domain "clients.frickelfunk.net";
	};
#	trigger ::/0;
}
{% endfor %}
