key dhcpkey {
        algorithm HMAC-MD5.SIG-ALG.REG.INT;
        secret "{{dhcp.dhcpkey_secret}}";
        };

  ddns-update-style interim;
  ddns-domainname "{{ ffka.search_domain }}";
  ignore client-updates;
  update-static-leases off;

zone {{ ffka.search_domain }}. {                        #Forward-Zone
        primary6 2001:1608:10:278::3070:e76a;              #Der DNS-Server, der aktualisiert wird
        key dhcpkey;
}

# option definitions common to all supported networks...
option domain-name "{{ ffka.search_domain }}";

default-lease-time 1800;
max-lease-time 3600;

authoritative;

log-facility local7;

##### Unfi Stuff

option space ubnt;
option ubnt.unifi-address code 1 = ip-address;

class "ubnt" {
        match if substring (option vendor-class-identifier, 0, 4) = "ubnt";
        option vendor-class-identifier "ubnt";
        vendor-option-space ubnt;
}


{% set shortname = salt['pillar.get']('shortname') -%}
{% for hoodname,hood in salt['pillar.get']('hoods').items() %}
# DHCP Pool {{ hood.name }}
subnet {{ hood.network.ipv4.net }} netmask {{ hood.network.ipv4.netmask }} {
    range {{ hood['dhcp'][shortname]['range']['from'] }} {{ hood['dhcp'][shortname]['range']['to'] }};

    option routers {{ hood['network']['ipv4'][shortname] }};
    option interface-mtu 1348;
    option domain-name-servers {{ network.lo.ipv4.ffrl }},{{ dhcp.dns_secondary }};
    option ubnt.unifi-address 10.214.192.43; ### Unfi controller

}
{% endfor %}
