default-lease-time 3600;
max-lease-time 7200;
log-facility local7;

option dhcp6.name-servers {{ network.br_ffka.ipv6.ip }}, {{ dhcp.dns_secondary_v6 }};
option dhcp6.domain-search "clients.frickelfunk.net";

{% for hoodname,hood in salt['pillar.get']('hoods').items() %}
# DHCPv6 config {{ hood.name }}
subnet6 {{ hood.network.ipv6.net }} {
	option interface-mtu 1332;
}
{% endfor %}