{% set golang = salt['grains.filter_by']({
  'Debian-8': {
    'packages': ['golang-1.7'],
    'fromrepo': 'jessie-backports',
    'go_executable': '/usr/lib/go-1.7/bin/go'
  },
  'Debian-9': {
    'packages': ['golang-1.8'],
    'go_executable': '/usr/lib/go-1.8/bin/go'
  }
}, merge=salt['pillar.get']('golang'), grain='osfinger') %}
