@def $FF_NET = 10.214.192.0/19;
@def $BACKBONE_NAT_IP = 185.65.241.1;
@def $BACKBONE_IF = (
tun-int-ent tun-alb1 tun-ffffm_core1
);
@def $BRIDGE_IF = (
br_cloud br_backend
);


domain ip table nat {

        chain POSTROUTING {
                source $FF_NET outerface $BACKBONE_IF SNAT to $BACKBONE_NAT_IP;
        }
}

domain ip6 {
   table mangle {
        chain FORWARD {
            # mss = transport mtu - ipv6 - tcp
            interface $BRIDGE_IF outerface $BACKBONE_IF proto tcp tcp-flags (SYN RST) SYN TCPMSS set-mss 1340;
        }
   }
   table filter {
        chain FORWARD {
              interface $BACKBONE_IF outerface $BRIDGE_IF ACCEPT;
        }
   }
}

domain (ip){
 table filter {
        chain FORWARD {
            mod state state (ESTABLISHED RELATED) ACCEPT;
         }
           }
         table mangle {
          chain FORWARD {
              # mss = transport mtu - ipv4 20 - tcp 20
                    interface $BRIDGE_IF  outerface $BACKBONE_IF proto tcp tcp-flags (SYN RST) SYN TCPMSS set-mss 1360;
                }
           }
}
