{%- set community_id = pillar.community_id %}
#
# Freifunk Karlsruhe
# NAT and ebtables Rules
#


@def $VZFFNRMO_NAT_IP = {{ salt['pillar.get']('network:nat_ip') }};
@def $VZFFNRMO_IF = (
    {{ salt['pillar.get']('network:nat_interfaces') | join(" ") }}
);

domain (ip ip6) {
    table filter {
        chain FORWARD {
        {% for domain in salt['domain_networking.get_domains']().values() %}
        {% set ifname_bat = salt['domain_networking.generate_ifname'](community_id, domain, 'bat') -%}
            interface {{ ifname_bat }} saddr ({{ " ".join(domain.get('ipv4', {}).keys()) }} {{ " ".join(domain.get('ipv6', {}).keys()) }}) {
                proto tcp dport smtp REJECT;
                ACCEPT;
            }
        {% endfor %}
        }
    }
}

domain (ip){
 table filter {
        chain FORWARD {
            mod state state (ESTABLISHED RELATED) ACCEPT;
         }
	   }
		 table mangle {
	        chain FORWARD {
					# mss = transport mtu - (batman-adv + ether) 32 - ipv4 20 - tcp 20
					{% for domain in salt['domain_networking.get_domains']().values() %}
          {% set ifname_bat = salt['domain_networking.generate_ifname'](community_id, domain, 'bat') -%}
              interface {{ ifname_bat }} outerface $VZFFNRMO_IF proto tcp tcp-flags (SYN RST) SYN TCPMSS set-mss {{ domain['network_mtu'] - 20 - 20 }};
					{% endfor %}
	        }
	   }
}


domain ip6 {
   table mangle {
        chain FORWARD {
            # mss = transport mtu - (batman-adv + ether) 32 - ipv6 40 - tcp 20
						{% for domain in salt['domain_networking.get_domains']().values() %}
            {% set ifname_bat = salt['domain_networking.generate_ifname'](community_id, domain, 'bat') -%}
            interface {{ ifname_bat }} outerface $VZFFNRMO_IF proto tcp tcp-flags (SYN RST) SYN TCPMSS set-mss {{ domain['network_mtu'] - 40 - 20 }};
						{% endfor %}
        }
   }
   table filter {
        chain FORWARD {
					{% for domain in salt['domain_networking.get_domains']().values() %}
          {% set ifname_bat = salt['domain_networking.generate_ifname'](community_id, domain, 'bat') -%}
              interface $VZFFNRMO_IF outerface {{ ifname_bat }} ACCEPT;
					{% endfor %}
        }
   }
}


domain ip table nat {


	chain POSTROUTING {
  {% for domain_id, domain in salt['domain_networking.get_domains']().items() %}
{% for network in domain.get('ipv4', {}).values() if 'address' in network %}
		source {{ network['address'] }}/{{ network['netmask'] }} outerface $VZFFNRMO_IF SNAT to $VZFFNRMO_NAT_IP;

  {% endfor %}
  {% endfor %}

	}
}


domain eb {
  table filter {
    chain FORWARD {
      policy ACCEPT;

      # prevent bridge port forwarding between peers
      logical-in dom+ interface peer-+ outerface peer-+ DROP;
    }
  }
}
