
#
# Freifunk Karlsruhe
# NAT and ebtables Rules
#


@def $VZFFNRMO_NAT_IP = 185.65.241.22;
@def $VZFFNRMO_IF = (

enp1s0

);




domain ip table nat {


	chain POSTROUTING {
  {% for domain_id, domain in salt['pillar.get']('domains', {}).items() %}
{% for network in domain.get('ipv4', {}).values() if 'address' in network %}
		source {{ network['address'] }}/{{ network['netmask'] }} outerface $VZFFNRMO_IF SNAT to $VZFFNRMO_NAT_IP;

  {% endfor %}
  {% endfor %}

	}
}
