verbosity: 1
extended-statistics: yes

interface: {{ grains.fqdn_ip4[0] }}
interface: {{ grains.fqdn_ip6[0] }}

access-control: 10.214.0.0/16 allow
access-control: 192.168.0.0/16 allow
access-control: 185.65.241.0/24 allow
access-control: 2001:678:6e0::/45 allow
