echo "Setting up ip rules"
# Delete IP rules if they exist
ip rule del from all to {{ v4_pool }} lookup freifunk
ip rule del from {{ v4_pool }} lookup freifunk

# Add ip rule to reoute the NAT64'd traffic via the freifunk routing table
ip rule add from all to {{ v4_pool }} lookup freifunk
ip rule add from {{ v4_pool }} lookup freifunk

echo "Setting up nat64 addresses"
ip address replace {{ v4_interface_address }} dev nat64
ip address replace {{ v6_interface_address }} dev nat64

echo "Setting interface up"
ip link set up dev nat64
