[Unit]
Description=Tayga NAT64 daemon interface and routing setup
After=tayga.service sys-devices-virtual-net-nat64.device

[Service]
Type=oneshot
#ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/tayga_setup.sh
RemainAfterExit=true

[Install]
WantedBy=default.target