[Unit]
Description=Tayga NAT64 daemon
After=syslog.target network.target

[Service]
PrivateTmp=true
Type=forking
PIDFile=/var/run/tayga.pid
ExecStart=/usr/sbin/tayga --config /etc/tayga.conf --pidfile /var/run/tayga.pid

[Install]
WantedBy=multi-user.target