{% set ifname_bat = salt['domain_networking.generate_ifname'](domain, 'bat') %}
{% set ifname_br = salt['domain_networking.generate_ifname'](domain, 'br') %}

ARGS=-s ffka -d {{ domain_id }} -i {{ ifname_br }} -b {{ ifname_bat }}