{%- set community_id = pillar.community_id %}
{% set ifname_bat = salt['domain_networking.generate_ifname'](community_id, domain, 'bat') %}
{% set ifname_br = salt['domain_networking.generate_ifname'](community_id, domain, 'br') %}

ARGS=-s ffka -d {{ domain_id }} -i {{ ifname_br }} -b {{ ifname_bat }}