server {
    listen 80;
    listen [::]:80;

    server_name {{ hostnames }};

    include "snippets/acme-challenge.conf";

    access_log /dev/null;
    error_log "/var/log/nginx/{{ site_name }}/error.log";

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name influxdb.api.karlsruhe.freifunk.net influxdb.api.frickelfunk.net;

    access_log /dev/null;
    error_log "/var/log/nginx/api/error.log";

    location / {
        proxy_pass http://[2001:678:6e3:1050:b02d:dff:fe58:b004]:8086;
        proxy_redirect default;
        proxy_set_header   Host          $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;

        proxy_http_version 1.1;
        proxy_set_header Connection "";
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ hostnames }};

    ssl_certificate "/etc/letsencrypt/live/{{ certificate_filename }}/fullchain.pem";
    ssl_certificate_key "/etc/letsencrypt/live/{{ certificate_filename }}/privkey.pem";

    include "snippets/acme-challenge.conf";
    include "snippets/tls.conf";

    access_log /dev/null;
    error_log "/var/log/nginx/{{ site_name }}/error.log";

    resolver [2001:678:6e3:40d::1] [2001:678:6e3:40d::2];

    add_header Access-Control-Allow-Origin *;

    # kill cache
    add_header Last-Modified $date_gmt;
    add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
    if_modified_since off;
    expires off;
    etag off;

    set $default_community ffka;
    location /yanic/meshviewer/ {
        rewrite ^/yanic/meshviewer/(.*) /yanic/meshviewer/ffka/$1 break;
        proxy_pass  http://api${default_community}.frickelfunk.net;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;
    }

    location /yanic/nodelist/ {
        rewrite ^/yanic/nodelist/(.*) /yanic/nodelist/ffka/$1 break;
        proxy_pass  http://api${default_community}.frickelfunk.net;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;
    }

    location ~ ^/yanic/(?<t>(meshviewer|nodelist)+)/(?<community>(ffka|ffwp)+)/(?<p>(.*))$ {
        # no trailing slash -> url is passed 1:1
        proxy_pass  http://api${community}.frickelfunk.net;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;
    }

    location / {
        try_files $uri $uri/ =404;
        root /srv/www/{{ site_name }}/htdocs/;
    }
}
