server {
    listen 80;
    listen [::]:80;

    server_name {{ hostnames }};
    
    include "snippets/acme-challenge.conf";

    access_log "/var/log/nginx/{{ site_name }}/access.log";
    error_log "/var/log/nginx/{{ site_name }}/error.log";

    add_header Access-Control-Allow-Origin *;

    location /yanic/meshviewer/ {
        autoindex on;
        try_files $uri $uri/ =404;
        alias /var/lib/yanic/meshviewer/ffka/;
    }
    location / {
        return 404;
    }
}