server {
	listen 80;
	listen [::]:80;

	server_name {{ hostnames }};

	include "snippets/acme-challenge.conf";

    access_log "/var/log/nginx/{{ site_name }}/access.log";
    error_log "/var/log/nginx/{{ site_name }}/error.log";

    location / {
        return 301 https://$server_name$request_uri;
    }
}

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	server_name {{ hostnames }};

    ssl_certificate "/etc/letsencrypt/live/{{ certificate_filename }}/fullchain.pem";
    ssl_certificate_key "/etc/letsencrypt/live/{{ certificate_filename }}/privkey.pem";

    include "snippets/acme-challenge.conf";
    include "snippets/tls.conf";

    access_log "/var/log/nginx/{{ site_name }}/access.log";
    error_log "/var/log/nginx/{{ site_name }}/error.log";

    location ~ /\.git {
        deny all;
    }

    location /images {
        include "snippets/block-432.conf";

        try_files $uri $uri/ =404;
        alias /srv/firmware/images;
        autoindex on;
    }

    try_files $uri $uri/ =404;
    root /srv/www/{{ site_name }}/htdocs/;
}
