proxy_cache_path /var/www/tilecache/new levels=1:2 inactive=60d keys_zone=new_tilecache:256m max_size=4096M;

server {
    listen 80;
    listen [::]:80;

    server_name {{ hostnames }};

    include "snippets/acme-challenge.conf";

    access_log "/var/log/nginx/{{ site_name }}/access.log";
    error_log "/var/log/nginx/{{ site_name }}/error.log";

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    # server_name {{ hostnames }};
    server_name ~^(?<site_id>[0-9]+).tiles.ffka.tech$;

    ssl_certificate "/etc/letsencrypt/live/{{ certificate_filename }}/fullchain.pem";
    ssl_certificate_key "/etc/letsencrypt/live/{{ certificate_filename }}/privkey.pem";

    include "snippets/acme-challenge.conf";
    include "snippets/tls.conf";

    access_log "/var/log/nginx/{{ site_name }}/access.log";
    error_log "/var/log/nginx/{{ site_name }}/error.log";

    location ~ ^/tiles/(?<provider>(giscience|ffrgb-day|ffrgb-night)+)/(?<tile_z>[0-9]+)/(?<tile_x>[0-9]+)/(?<tile_y>[0-9]+)/((?<retina>(.+))/)? {

        resolver 1.1.1.1 ipv6=off;
        if ($provider = "giscience") {
            proxy_pass "http://api.openrouteservice.org/mapsurfer/$tile_z/$tile_x/$tile_y.png?api_key=5b3ce3597851110001cf624807d1d7567ae24baeb813266414a48c82";
        }
        if ($provider = "ffrgb-day") {
            proxy_pass "https://1.tiles.ffrgb.net/$tile_z/$tile_x/$tile_y$retina.png";
        }
        if ($provider = "ffrgb-night") {
            proxy_pass "https://2.tiles.ffrgb.net/n/$tile_z/$tile_x/$tile_y$retina.png";
        }

        proxy_http_version              1.1;
        proxy_set_header                Connection "";
        proxy_set_header                User-Agent "Mozilla/5.0 (compatible; OSMTileCache/1.0; +mailto:info@karlsruhe.freifunk.net; +https://karlsruhe.freifunk.net/karte)";

        proxy_temp_path                 /var/www/tilecache/temp;
        proxy_cache                     new_tilecache;
        proxy_store                     off;
        proxy_cache_key                 $uri$is_args$args;
        proxy_ignore_headers            Expires Cache-Control;
        proxy_cache_valid               200 7d;
        proxy_cache_valid               301 302 429 5m;
        proxy_cache_valid               any 1m;
        proxy_intercept_errors          on;

        proxy_read_timeout              15s;
        proxy_next_upstream             error timeout invalid_header http_500 http_502 http_503 http_504 http_403 http_404;
        proxy_cache_use_stale           error timeout updating invalid_header http_500 http_502 http_503 http_504 http_403 http_404;
        proxy_hide_header               Via;
        proxy_hide_header               X-Cache;
        proxy_hide_header               X-Cache-Lookup;

        error_page 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 420 422 423 424 426 428 429 431 444 449 450 451 500 501 502 503 504 505 506 507 508 509 510 511 @error;

        expires 14d;
    }

    location @error {
        root /var/www/tilecache/;

        expires off;
        add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';

        try_files /error.png =503;
    }

    location / {
        return 404;
    }
}