{
  "receiver": {
    "receivers": [
      { "module": "announced",
        "config": {
          "interval": {
            "statistics": 60,
            "nodeinfo": 500
          }
        }
      },
      { "module": "aliases",
        "config": {
          "file": "./aliases.json"
        },
        "overlay": true
      }
    ],
    "ifaces": [
      "br_dflt","bat_dflt"
    ],
    "storage": {
      "file": "/var/lib/hopglass-server/ffka/raw.json"
    },
    "purge": {
      "maxAge": 14
    }
  },
  "provider": {
    "offlineTime": 900,
	"named": {
      "mapTemplate": "https://karlsruhe.freifunk.net/karte/#/en/map/{node_id}",
      "origin": "nodes.karlsruhe.freifunk.net.",
      "defaultTtl": 86400,
      "ns": "dns.karlsruhe.freifunk.net",
      "postmaster": "admin+karlsruhe.freifunk.net.",
      "refresh": 28800,
      "retry": 7200,
      "expire": 864000,
      "minTtl": 86400,
      "nameservers":  [
        "ns1.karlsruhe.freifunk.net.",
        "ns2.karlsruhe.freifunk.net.",
        "ns3.karlsruhe.freifunk.net."
      ],
      "subdomainNet": [
          "2a03:2260:a::/48"
      ],
      "namePadding" : 40
    }
  },
  "webserver": {
    "port": 4040
  }
}
