[paths]

[server]

protocol = http
http_addr = [0.0.0.0]

#domain = monitor.frickelfunk.net
root_url = {{ instance['url'] }}

[database]

[session]

provider = memory

[dataproxy]

[analytics]

reporting_enabled = false

[security]

login_remember_days = 7

[snapshots]

[users]

allow_sign_up = false
allow_org_create = false

[auth]

[auth.anonymous]

enabled = true
org_name = {{ instance['title'] }}
org_role = Viewer

[auth.github]

[auth.google]

[auth.generic_oauth]

{% set gitlab_oauth = salt['pillar.get']('grafana:gitlab_oauth', None) %}

{% if gitlab_oauth %}
enabled = true
name = GitLab
allow_sign_up = true
client_id = {{ gitlab_oauth.client_id }}
client_secret = {{ gitlab_oauth.client_secret }}
scopes = read_user,openid,api
auth_url = {{ gitlab_oauth.url }}/oauth/authorize
token_url = {{ gitlab_oauth.url }}/oauth/token
api_url = {{ gitlab_oauth.url }}/api/v4/user
{% endif %}

[auth.grafana_com]

[auth.proxy]

[auth.basic]

[auth.ldap]

[smtp]

[emails]

[log]

mode = console file

[log.console]
level = info

[log.file]

level = warn

[event_publisher]

[dashboards.json]

[alerting]

enabled = false

[metrics]

enabled = true

[grafana_com]

[external_image_storage]

[external_image_storage.s3]

[external_image_storage.webdav]
