{% set prometheus = salt['grains.filter_by']({
    'default': {
      'release': '2.4.2',
      'release_hash': 'cd32b6862eab4b5b6c5ed81a2aa951ebeba8b35506418c21d1f5f18fa346fcd0',
      'alertmanager_release': '0.15.2',
      'alertmanager_release_hash': '79ee23ab2f0444f592051995728ba9e0a7547cc3b9162301e3152dbeaf568d2e'
    }
}, grain='os_family', merge=salt['pillar.get']('monitoring:prometheus')) %}
