{% set prometheus = salt['grains.filter_by']({
    'default': {
      'release': '2.16.0',
      'release_hash': 'c04e631d18e186b66a51cac3062157298e037ffae784f35ccaaf29e496d65d3f'
    }
}, grain='os_family', merge=salt['pillar.get']('prometheus')) %}

{% set alertmanager = salt['grains.filter_by']({
    'default': {
      'release': '0.20.0',
      'release_hash': '3a826321ee90a5071abf7ba199ac86f77887b7a4daa8761400310b4191ab2819'
    }
}, grain='os_family', merge=salt['pillar.get']('prometheus')) %}
