{% set prometheus = salt['grains.filter_by']({
    'default': {
      'release': '2.2.1',
      'release_hash': 'ec1798dbda1636f49d709c3931078dc17eafef76c480b67751aa09828396cf31',
      'alertmanager_release': '0.14.0',
      'alertmanager_release_hash': 'caddbbbe3ef8545c6cefb32f9a11207ae18dcc788e8d0fb19659d88c58d14b37'
    }
}, grain='os_family', merge=salt['pillar.get']('prometheus')) %}
