aggregation_period: 60
default_snmp_community: "public"
debug: 0
compression_level: 6
data_dir: "/var/tflow2/data"
anonymize: false
cache_time: 1800

netflow_v9:
  enabled: false
  listen: ":2055"

ipfix:
  enabled: true
  listen: ":4739"

sflow:
  enable: false
  listen: ":6343"

frontend:
  enable: true
  listen: ":4444"

bgp_augmentation:
  enabled: false
  bird_socket: "/var/run/bird/bird.ctl"
  bird6_socket: "/var/run/bird/bird6.ctl"

annotators: []

agents:
{% for agent in salt['pillar.get']('monitoring:tflow2:agents', []) %}
  - name: {{ agent.name }}
    ip_address: "{{ agent.address_v4 }}"
    snmp_community: "public"
    samplerate: {{ agent.samplerate }}
{% endfor %}
