[Unit]
Description=BIRD2 Internet Routing Daemon
After=network.target

[Service]
ExecStartPre=/usr/local/sbin/bird -c /etc/bird2/bird.conf -p
ExecReload=/bin/sh -c '/usr/local/sbin/birdc configure | grep -Fxq "Reconfigured"'
ExecStart=/usr/local/sbin/bird -f -c /etc/bird2/bird.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target