module.exports = function () {
  return {
    'globalInfos': [
      {
        'name': 'Statistik',
        'href': 'http://stats.karlsruhe.freifunk.net/',
        'image': 'http://stats.karlsruhe.freifunk.net/render/dashboard-solo/db/freifunk-karlsruhe?panelId=2&from=now-1y&width=600&height=350&theme=light',
        'title': 'Jahresstatistik Clients - weiteren Statistiken'
      }
    ],
    'dataPath': [
      '{{ api_endpoint }}'
    ],
    'siteName': 'Freifunk Karlsruhe',
    'mapLayers': [
      {
        'name': 'Freifunk Karlsruhe',
        'url': 'https://{s}.tiles.ffka.tech/tiles/giscience/{z}/{x}/{y}/{retina}/',
        'config': {
          'maxZoom': 19,
          'subdomains': '012',
          'attribution': 'Service &copy; <a href="https://openrouteservice.org" target="_blank">openrouteservice.org</a> | Map data &copy; <a href="http://www.openstreetmap.org/about/" target="_blank">OpenStreetMap</a> contributors',
          'start': 6
        }
      }
    ],
    'fixedCenter': [
      // Northwest
      [
        49.3083,
        7.7189
      ],
      // Southeast
      [
        48.7269,
        8.9586
      ]
    ],
    'siteNames': [
      {
        'site': 'ffka',
        'name': 'Karlsruhe'
      },
      {
        'site': 'ffog',
        'name': 'Ortenau'
      },
      {
        'site': 'ffhoh',
        'name': 'Hohenlohe'
      },
      {
        'site': 'ffpf',
        'name': 'Pforzheim'
      },
      {
        'site': 'ffwp',
        'name': 'Westpfalz'
      }
    ],
    'domainNames': [
    {% for (k, v) in salt['domain_networking.domain_names']().items() %}
      {
        'domain': '{{ k }}',
        'name': '{{ v }}'
      },
    {% endfor %}
    ],
    'nodeInfos': [
      {
        'name': 'Clientstatistik',
        'href': 'https://stats.karlsruhe.freifunk.net/d/000000021/router-meshviewer-export?orgId=2&refresh=15m&var-node={NODE_ID}',
        'image': 'https://stats.karlsruhe.freifunk.net/render/d-solo/000000021/router-meshviewer-export?var-node={NODE_ID}&panelId=1&theme=light&width=650&height=350',
        'title': 'Knoten {NODE_ID} - weiteren Statistiken'
      },
      {
        'name': 'Trafficstatistik',
        'href': 'https://stats.karlsruhe.freifunk.net/d/000000021/router-meshviewer-export?orgId=2&refresh=15m&var-node={NODE_ID}',
        'image': 'https://stats.karlsruhe.freifunk.net/render/d-solo/000000021/router-meshviewer-export?var-node={NODE_ID}&panelId=2&theme=light&width=650&height=350',
        'title': 'Knoten {NODE_ID} - weiteren Statistiken'
      }
    ]
  };
};
