module.exports = function () {
  return {
    'globalInfos': [
      {
        'name': 'Statistik',
        'href': 'http://stats.karlsruhe.freifunk.net/',
        'image': 'http://stats.karlsruhe.freifunk.net/render/dashboard-solo/db/freifunk-karlsruhe?panelId=2&from=now-1y&width=600&height=350&theme=light',
        'title': 'Jahresstatistik Clients - weiteren Statistiken'
      }
    ],
    'dataPath': [
      'http://api.frickelfunk.net/yanic/meshviewer/'
    ],
    'siteName': 'Freifunk Karlsruhe',
    'mapLayers': [
      {
        'name': 'Freifunk Karlsruhe',
        'url': 'https://{s}.tiles.ffka.tech/tiles/giscience/{z}/{x}/{y}/{retina}/',
        'config': {
          'maxZoom': 19,
          'subdomains': '012',
          'attribution': 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research Group @ University of Heidelberg</a> &mdash; Map data <a href="http://www.openstreetmap.org/about/" target="_blank">&copy; OpenStreetMap contributors</a>',
          'start': 0
        }
      },
      {
        'name': 'Freifunk Regensburg',
        // Please ask Freifunk Regensburg before using its tile server c- example with retina tiles
        'url': 'https://{s}.tiles.ffka.tech/tiles/ffrgb-day/{z}/{x}/{y}/{retina}/',
        'config': {
          'maxZoom': 20,
          'subdomains': '012',
          'attribution': '<a href="http://www.openmaptiles.org/" target="_blank">&copy; OpenMapTiles</a> <a href="http://www.openstreetmap.org/about/" target="_blank">&copy; OpenStreetMap contributors</a>',
        }
      },
      {
        'name': 'Freifunk Regensburg (Night)',
        // Please ask Freifunk Regensburg before using its tile server - example with retina and dark tiles
        'url': 'https://{s}.tiles.ffka.tech/tiles/ffrgb-night/{z}/{x}/{y}/{retina}/',
        'config': {
          'maxZoom': 20,
          'subdomains': '012',
          'attribution': ' <a href="http://www.openmaptiles.org/" target="_blank">&copy; OpenMapTiles</a> <a href="http://www.openstreetmap.org/about/" target="_blank">&copy; OpenStreetMap contributors</a>',
          'mode': 'night',
        }
      }
    ],
    'fixedCenter': [
      // Northwest
      [
        49.3083,
        7.7189
      ],
      // Southeast
      [
        48.7269,
        8.9586
      ]
    ],
    'siteNames': [
      {
        'site': 'ffka',
        'name': 'Karlsruhe'
      },
      {
        'site': 'ffog',
        'name': 'Ortenau'
      },
      {
        'site': 'ffhoh',
        'name': 'Hohenlohe'
      },
      {
        'site': 'ffpf',
        'name': 'Pforzheim'
      }
    ],
    'nodeInfos': [
      {
        'name': 'Clientstatistik',
        'href': 'http://stats.karlsruhe.freifunk.net/dashboard/file/pernode.json?var-Knotenname={NODE_ID}',
        'image': 'https://stats.karlsruhe.freifunk.net/render/dashboard-solo/file/pernode.json?panelId=2&from=now-7d&var-Knotenname={NODE_ID}&width=650&height=350&theme=light&_t={TIME}',
        'title': 'Knoten {NODE_ID} - weiteren Statistiken'
      },
      {
        'name': 'Trafficstatistik',
        'href': 'http://stats.karlsruhe.freifunk.net/dashboard/file/pernode.json?var-Knotenname={NODE_ID}',
        'image': 'https://stats.karlsruhe.freifunk.net/render/dashboard-solo/file/pernode.json?panelId=3&from=now-7d&var-Knotenname={NODE_ID}&width=650&height=350&theme=light&_t={TIME}',
        'title': 'Knoten {NODE_ID} - weiteren Statistiken'
      }
    ]
  };
};