{
  "globalInfos": [
    {
      "name": "Statistik",
      "href": "http://stats.karlsruhe.freifunk.net/",
      "image": "http://stats.karlsruhe.freifunk.net/render/dashboard-solo/db/freifunk-karlsruhe?panelId=2&from=now-1y&width=600&height=350&theme=light",
      "title": "Jahresstatistik Clients - weiteren Statistiken"
    }
  ],
  "dataPath": [
    "{{ api_endpoint }}"
  ],
  "siteName": "Freifunk Karlsruhe",
  "mapLayers": [
    {
      "name": "Freifunk Karlsruhe",
      "url": "https://{s}.tiles.ffka.tech/tiles/giscience/{z}/{x}/{y}/{retina}/",
      "config": {
        "maxZoom": 19,
        "subdomains": "012",
        "attribution": "Service &copy; <a href='https://openrouteservice.org' target='_blank'>openrouteservice.org</a> | Map data &copy; <a href='http://www.openstreetmap.org/about/' target='_blank'>OpenStreetMap</a> contributors",
        "start": 6
      }
    }
  ],
  "fixedCenter": [
    [
      49.3083,
      7.7189
    ],
    [
      48.7269,
      8.9586
    ]
  ],
  "siteNames": [
    {
      "site": "ffka",
      "name": "Karlsruhe"
    },
    {
      "site": "ffog",
      "name": "Ortenau"
    },
    {
      "site": "ffhoh",
      "name": "Hohenlohe"
    },
    {
      "site": "ffpf",
      "name": "Pforzheim"
    },
    {
      "site": "ffwp",
      "name": "Westpfalz"
    }
  ],
  "domainNames": [
  {% for (k, v) in salt["domain_networking.domain_names"]().items() %}
    {
      "domain": "{{ k }}",
      "name": "{{ v }}"
    }{%- if not loop.last %},{% endif %}
  {% endfor %}
  ],
  "nodeInfos": [
    {
      "name": "Clientstatistik",
      "href": "https://stats.karlsruhe.freifunk.net/d/000000021/router-meshviewer-export?orgId=2&refresh=15m&var-node={NODE_ID}",
      "image": "https://stats.karlsruhe.freifunk.net/render/d-solo/000000021/router-meshviewer-export?var-node={NODE_ID}&panelId=1&theme=light&width=650&height=350",
      "title": "Knoten {NODE_ID} - weiteren Statistiken"
    },
    {
      "name": "Trafficstatistik",
      "href": "https://stats.karlsruhe.freifunk.net/d/000000021/router-meshviewer-export?orgId=2&refresh=15m&var-node={NODE_ID}",
      "image": "https://stats.karlsruhe.freifunk.net/render/d-solo/000000021/router-meshviewer-export?var-node={NODE_ID}&panelId=2&theme=light&width=650&height=350",
      "title": "Knoten {NODE_ID} - weiteren Statistiken"
    }
  ],
"deprecation_enabled": true,
"deprecation_text": "Warnung: Dieser Knoten ist veraltet, und wird nicht mehr unterstützt. Mehr Infos zur <a href='https://openwrt.org/supported_devices/432_warning'>4/32 Warnung der OpenWRT Entwicklern</a> und unseren <a href='https://karlsruhe.freifunk.net/news/2019/08/01/Supportende-12-2019-u.ffka.net/'>Supportende</a>. <br> Wenn du der Eigentümer des Gerätes bist, bitten wir dich, das Gerät zu ersetzen, um weiterhin am Netz teilnehmen zu können."
}
