{
  "dataPath": [
    "https://api.frickelfunk.net/ffka/"
  ],
  "siteName": "Freifunk Karlsruhe",
  "maxAge": 21,
  "nodeZoom": 19,
  "mapLayers": [
    {
      "name": "OpenStreetMap",
      "url": "https://tiles.ffm.freifunk.net/{z}/{x}/{y}.png",
      "config": {
        "type": "osm",
        "maxZoom": 19,
        "attribution": "Map data (c) <a href\"http://openstreetmap.org\">OpenStreetMap</a> contributor"
      }
    }
  ],
