var config = {
  // list images on console that match no model
  listMissingImages: false,
  // see devices.js for different vendor model maps
  vendormodels: vendormodels,
  // set enabled categories of devices (see devices.js)
  enabled_device_categories: ["recommended"],
  // community prefix of the firmware images
  community_prefix: 'gluon-{{ pillar.ffka.site_code }}-',
  // firmware version regex
  version_regex: '-([0-9]+.[0-9]+.[0-9]+(?:-experimental+(?:\.[0-9]+-[0-9]+)?)?)-',

  // relative image paths and branch
  directories: {
    // some demo sources
    './images/stable/factory/': 'stable',
    './images/stable/sysupgrade/': 'stable',
    './images/stable/other/': 'stable',
    './images/beta/factory/': 'beta',
    './images/beta/sysupgrade/': 'beta',
    './images/beta/other/': 'beta',
    './images/experimental/factory/': 'experimental',
    './images/experimental/sysupgrade/': 'experimental',
    './images/experimental/other/': 'experimental'
  },
  branch_descriptions: {
    stable: 'Gut getestet, zuverlässig und stabil.',
    beta: 'Vorabtests neuer Stable-Kandidaten.',
    experimental: 'Ungetestet, automatisch generiert.'
  },
  recommended_branch: 'stable',
  experimental_branches: ['experimental'],
  changelog: 'https://docs.karlsruhe.freifunk.net/firmware/changelog/',
 devices_info: {
  'Aruba': {
    "AP-303": "https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=102c8c55f217606cdbdc9a449667e034676b3e75",
    "Instant On AP11": "https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=102c8c55f217606cdbdc9a449667e034676b3e75"
  },
  'AVM': {
    "FRITZ!Box 4020": "https://fritz-tools.readthedocs.io/de/latest/",
    "FRITZ!Box 4040": "https://fritz-tools.readthedocs.io/de/latest/",
    "FRITZ!Box 7312": "https://fritz-tools.readthedocs.io/de/latest/",
    "FRITZ!Box 7320": "https://fritz-tools.readthedocs.io/de/latest/",
    "FRITZ!Box 7330": "https://fritz-tools.readthedocs.io/de/latest/",
    "FRITZ!Box 7330 SL": "https://fritz-tools.readthedocs.io/de/latest/",
    "FRITZ!Box 7360": "https://fritz-tools.readthedocs.io/de/latest/",
    "FRITZ!Box 7360 SL": "https://fritz-tools.readthedocs.io/de/latest/",
    "FRITZ!Repeater 1200": "https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=7f187229a8e9b7966248b1e024217e07a9fc3e50",
    "FRITZ!WLAN Repeater 300E": "https://fritz-tools.readthedocs.io/de/latest/",
    "FRITZ!WLAN Repeater 450E": "https://fritz-tools.readthedocs.io/de/latest/"
  },
  'devolo': {
    "WiFi Pro 1200e": "https://docs.karlsruhe.freifunk.net/firmware/devolo-wifi-pro/",
    "WiFi Pro 1200i": "https://docs.karlsruhe.freifunk.net/firmware/devolo-wifi-pro/",
    "WiFi Pro 1750c": "https://docs.karlsruhe.freifunk.net/firmware/devolo-wifi-pro/",
    "WiFi Pro 1750e": "https://docs.karlsruhe.freifunk.net/firmware/devolo-wifi-pro/",
    "WiFi Pro 1750i": "https://docs.karlsruhe.freifunk.net/firmware/devolo-wifi-pro/",
    "WiFi Pro 1750x": "https://docs.karlsruhe.freifunk.net/firmware/devolo-wifi-pro/"
  },
  'Ubiquiti': {
    "EdgeRouter X": "https://github.com/oszilloskop/UBNT_ERX_Gluon_Factory-Image/blob/master/README.md#gluon-auf-ubnt-edgerouter-x-und-x-sfp",
    "EdgeRouter X-SFP": "https://github.com/oszilloskop/UBNT_ERX_Gluon_Factory-Image/blob/master/README.md#gluon-auf-ubnt-edgerouter-x-und-x-sfp",
    "UniFi AC Lite": "https://docs.karlsruhe.freifunk.net/firmware/unifi-ac/",
    "UniFi AC LR": "https://docs.karlsruhe.freifunk.net/firmware/unifi-ac/",
    "UniFi AC Mesh Pro": "https://docs.karlsruhe.freifunk.net/firmware/unifi-ac/",
    "UniFi AC Mesh": "https://docs.karlsruhe.freifunk.net/firmware/unifi-ac/",
    "UniFi AC Pro": "https://docs.karlsruhe.freifunk.net/firmware/unifi-ac/",
  },
  'TP-Link': {
    "TL-WR841N/ND" : {
      "v13": "https://openwrt.org/toh/tp-link/tl-wr841nd#tftp_recovery_via_bootloader_for_v8_v9_v10_v11_v12_v13"
    }
  },
},
};
