[Unit]
Description=Prometheus Bird Exporter
After=network.target

[Service]
User=bird
EnvironmentFile=/etc/default/prometheus-bird-exporter
ExecStart={{ gopath }}/bin/bird_exporter $ARGS

[Install]
WantedBy=multi-user.target
