global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  #external_labels:
  #    monitor: 'example'



# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'netdata'

    metrics_path: /api/v1/allmetrics
    params:
      format: [ prometheus_all_hosts ]

    static_configs:
      - targets: ['localhost:19999']

  - job_name: bird

    static_configs:
      - targets:
{%- for salt_minion, exporters in salt['mine.get']('*', 'prometheus.exporters').items() if "bird" in exporters %}
{%- set hostname = salt['mine.get'](salt_minion, 'prometheus.hostname').get(salt_minion) %}
        - '{{ hostname }}:9324'
{%- endfor %}

  - job_name: node

    static_configs:
      - targets:
        - 'localhost:9100'
{%- for salt_minion, exporters in salt['mine.get']('*', 'prometheus.exporters').items() if "node" in exporters %}
{%- set hostname = salt['mine.get'](salt_minion, 'prometheus.hostname').get(salt_minion) %}
        - '{{ hostname }}:9100'
{%- endfor %}

  - job_name: fastd

    static_configs:
      - targets:
{%- for salt_minion, exporters in salt['mine.get']('*', 'prometheus.exporters').items() if "fastd" in exporters %}
{%- set hostname = salt['mine.get'](salt_minion, 'prometheus.hostname').get(salt_minion) %}
        - '{{ hostname }}:9281'
{%- endfor %}

{% for scrape_config in salt['pillar.get']('monitoring:prometheus:scrape_configs', []) %}
  - {{ scrape_config | yaml }}
{% endfor %}
