# Interfaces for domain {{ '%02d' | format(domain.domain_id) }}

{% set ifname_br = salt['domain_networking.generate_ifname'](domain, 'br') -%}
# {{ ifname_br }}
auto {{ ifname_br }}
iface {{ ifname_br }} inet manual
	pre-up ip link add name $IFACE type bridge
	pre-up ip link set up dev $IFACE
	pre-up ip link set address {{ salt['domain_networking.generate_mac']('br', domain, 1) }} dev $IFACE # ToDO: Remove hardcoded host identifier

	post-down ip link delete dev $IFACE

{%- for network in domain.get('ipv4', {}).values() if 'address' in network %}
iface {{ ifname_br }} inet static
	address {{ network['address'] }}
	netmask {{ network['netmask'] }}
{%- endfor %}

{%- for network in domain.get('ipv6', {}).values() if 'address' in network %}
iface {{ ifname_br }} inet6 static
	address {{ network['address'] }}
	netmask {{ network['prefixlen'] }}
{%- endfor %}
