
{% set br_ffka_ipv4_ip = salt['pillar.get']('network:br_ffka:ipv4:ip') -%}
{% set br_ffka_ipv4_netmask = salt['pillar.get']('network:br_ffka:ipv4:netmask') -%}
{% set br_ffka_ipv6_ip = salt['pillar.get']('network:br_ffka:ipv6:ip') -%}
{% set gateway = salt['pillar.get']('network:br_ffka:is_gateway') -%}


{% set shortname = salt['pillar.get']('shortname') -%}
{% for hoodname,hood in salt['pillar.get']('hoods').items() %}
auto br_{{hoodname}}
iface br_{{hoodname}} inet static
        address {{ hood['network']['ipv4'][shortname] }}
        netmask {{ hood.network.ipv4.netmask }}
        bridge_ports none
iface br_{{hoodname}} inet6 static
        address {{ hood['network']['ipv6'][shortname] }}
        netmask 64
        {% if gateway | to_bool %}
        post-up ip -6 addr add fe80::1/64 dev br_ffka preferred_lft 0
        {% endif %}
{% endfor %}
