{% set cloud = pillar.network.cloud %}

auto br_cloud
iface br_cloud inet static
    address {{ cloud.vmnetwork.address_v4 }}
    netmask {{ cloud.vmnetwork.netmask_v4 }}
    bridge_ports vlan1001
    {% for cid in pillar.ff_communities %}
    {%- set community = pillar[cid] -%}
    up ip rule add to {{ community['v4_ff'] }} table freifunk
    up ip rule add from {{ community['v4_ff'] }} table freifunk
    up ip rule add to {{ community['v4_ffrl'] }} table freifunk
    up ip rule add from {{ community['v4_ffrl'] }} table freifunk
    post-up ip -6 rule add to {{ community['v6_ffrl'] }} table freifunk
    post-up ip -6 rule add from {{ community['v6_ffrl'] }} table freifunk
    {% endfor %}
    up ip route add {{ cloud.vmnetwork.network_v4 }} dev br_cloud table freifunk
    #up ip route add 10.214.192.0/24 dev br_cloud table freifunk
    #up ip rule add to 10.214.0.0/16 table freifunk
    #up ip rule add from 10.214.0.0/16 table freifunk
    #up ip rule add to 185.66.194.8/29 table freifunk
    #up ip rule add from 185.66.194.8/29 table freifunk
    #up ip -6 rule add to 2a03:2260:a::/48 table freifunk
    #up ip -6 rule add from 2a03:2260:a::/48 table freifunk

iface br_cloud inet6 static
    address {{ cloud.vmnetwork.address_v6 }}
    netmask {{ cloud.vmnetwork.netmask_v6 }}

auto br_backend
iface br_backend inet static
    address {{ cloud.backend.address_v4 }}
    netmask {{ cloud.backend.netmask_v4 }}
    bridge_ports vlan1002
    up ip route add {{ cloud.vmnetwork.network_v4 }} dev br_backend table freifunk
    #up ip route add 10.214.193.0/24 dev br_backend table freifunk

    {% for cid in pillar.ff_communities %}
    {%- set community = pillar[cid] -%}
    up ip rule add to {{ community['v4_ff'] }} table freifunk
    up ip rule add from {{ community['v4_ff'] }} table freifunk
    up ip rule add to {{ community['v4_ffrl'] }} table freifunk
    up ip rule add from {{ community['v4_ffrl'] }} table freifunk
    {% endfor %}

#    up ip rule add to 10.214.0.0/16 table freifunk
#    up ip rule add from 10.214.0.0/16 table freifunk
#    up ip rule add to 185.66.194.8/29 table freifunk
#    up ip rule add from 185.66.194.8/29 table freifunk

iface br_backend inet6 static
    address {{ cloud.backend.address_v6 }}
    netmask {{ cloud.backend.netmask_v6 }}
