{% for name, gre in tunnels.items() %}

#################### tun-{{ name }} ####################
auto tun-{{ name }}

iface tun-{{ name }} inet tunnel
  {% if gre.type == 'gre6' -%}
  mode ip6gre
  local {{ gre.local | default(grains.fqdn_ip6[0]) }}
  {% else %}
  mode gre
  local {{ gre.local | default(grains.fqdn_ip[0]) }}
  {% endif -%}
  endpoint {{ gre.endpoint }}

  netmask {{ gre.ipv4.netmask | default('255.255.255.255') }}
  address {{ gre.ipv4.local_address }}
  dstaddr {{ gre.ipv4.remote_address }}

  {% if gre.ttl is defined -%} ttl {{ gre.ttl }} {% endif %}
  {% if gre.mtu is defined -%} mtu {{ gre.mtu }} {% endif %}

iface tun-{{ name }} inet6 static
  address {{ gre.ipv6.address }}/{{ gre.ipv6.prefixlength }}

{% endfor %}
