{% for gre in salt['pillar.get']('network:gre_ffka:tunnel') %}

auto tun-{{ gre.name }}
iface tun-{{ gre.name }} inet tunnel
  mode gre
  netmask 255.255.255.255
  address {{ gre.local }}
  dstaddr {{ gre.remote }}
  local {{ grains.fqdn_ip4[0]}}
  endpoint {{ gre.gre_target }}
  ttl 64
  mtu 1476

iface tun-{{ gre.name }} inet6 static
  address {{ gre.v6_network }}

{% endfor %}
