{% set fqdn_ip = salt['grains.get']('fqdn_ip4')[0] -%}
{% set gretab_dev = salt['network.ifacestartswith']( fqdn_ip )[0] -%}
{% for gre in salt['pillar.get']('network:gre_ffka:tunnel') %}
{% if gre.mesh | to_bool %}
auto ftun-{{ gre.name }}
iface ftun-{{ gre.name }} inet manual
    pre-up ip link add $IFACE type gretap local {{ fqdn_ip }} remote {{ gre.gre_target }} ttl 64 dev {{ gretab_dev }} key 111
    post-up ip link set dev $IFACE up
    post-up batctl -m bat0 if add $IFACE
    post-down ip link del $IFACE
{% endif %}
{% endfor %}

{% for gre in salt['pillar.get']('network:gretab_ffka_special:tunnel') %}
auto ftun-{{ gre.name }}
iface ftun-{{ gre.name }} inet manual
    pre-up ip link add $IFACE type gretap local {{ fqdn_ip }} remote {{ gre.gre_target }} ttl 64 dev {{ gretab_dev }} key 111
    post-up ip link set dev $IFACE up
    post-up batctl -m bat0 if add $IFACE
    post-down ip link del $IFACE
{% endfor %}
