{% for gre in salt['pillar.get']('network:gre_ffka:tunnel') %}
{% if  host.mesh is true -%}
auto ftun-{{ gre.name }}
iface ftun-{{ gre.name }} inet manual
    pre-up ip link add ftun-{{ gre.name }} type gretap local {{ grains.fqdn_ip4[0]}} remote {{ gre.remote }} ttl 64 dev eth0 key 111
    post-up ip link set dev ftun-{{ gre.name }} up
    post-up batctl -m bat0 if add ftun-{{ gre.name }}
    post-down ip link del ftun-{{ gre.name }}
{% endif -%}
{% endfor %}
