{%- set gwbatid = salt['pillar.get']('gwbatid') -%}
{%- set gw = salt['pillar.get']('gwbat', {}).get(gwbatid) -%}

auto tap-gwbat
iface tap-gwbat inet manual
  pre-up ip link add name tap-gwbat type vxlan id 42 dev {{ gw['mesh']['iface'] }} dstport 4789 group ff02::101a udp6zerocsumrx udp6zerocsumtx
  pre-up ip link set address {{ 'fc:1a:ff:00:00:{:02x}'.format(gwbatid) }} dev tap-gwbat

  {%- for id, other_gw in salt['pillar.get']('gwbat', {}).items() if id != gwbatid and other_gw['mesh']['name'] != gw['mesh']['name'] %}
  post-up bridge fdb append 00:00:00:00:00:00 dev tap-gwbat dst {{ other_gw['ipv6']['address'] }} via {{ gw['ipv6']['iface'] }}
  {% endfor %}

  post-down ip link del tap-gwbat

  ttl 64
  # MTU 1500 - IPv4 (20) - Gre (4) - IPv6 (40) - UDP (8) - VxLAN (50)
  mtu 1378

iface tap-gwbat inet static
    address {{ '192.168.200.{:02d}'.format(gwbatid) }}
    netmask 255.255.255.0
