{% for he in salt['pillar.get']('network:he:tunnel') %}

auto {{ he.name }}
iface {{ he.name }} inet6 v4tunnel
        address {{ he.address }}
        netmask 64
        endpoint {{ he.endpoint }}
        local {{ he.local }}
        ttl 255
        gateway {{ he.gateway }}

{% endfor %}
