auto lo

{% for addrinfo in salt['pillar.get']('network:lo:ipv4', []) %}
iface lo inet static
  address {{ addrinfo['local_address'] }}
  netmask {{ addrinfo['netmask'] }}
{% endfor %}

{% for addrinfo in salt['pillar.get']('network:lo:ipv6', []) %}
iface lo inet6 static
  address {{ addrinfo['address'] }}/{{ addrinfo['prefixlength'] }}
{% endfor %}
