{% for name, tunnel in tunnels.items() %}

#################### tun-{{ name }} ####################
auto tun-{{ name }}

{% if tunnel.type == 'gre6' -%}
iface tun-{{ name }} inet tunnel
  mode ip6gre
  local {{ tunnel.gre.local | default(grains.fqdn_ip6[0]) }}
  endpoint {{ tunnel.gre.endpoint }}
{% elif tunnel.type == 'gre' %}
iface tun-{{ name }} inet tunnel
  mode gre
  local {{ tunnel.gre.local | default(grains.fqdn_ip4[0]) }}
  endpoint {{ tunnel.gre.endpoint }}
{% elif tunnel.type == 'vxlan' %}
iface tun-{{ name }} inet static
  pre-up ip link add name tun-{{ name }} type vxlan id {{ tunnel.vxlan.id }} dev {{ tunnel.vxlan.dev }} remote {{ tunnel.vxlan.remote }} local {{ tunnel.vxlan.local }} dstport {{ tunnel.vxlan.dstport }} || true
  #up ip link set tun-{{ name }} up
  #down ip link set tun-{{ name }} down
  post-down ip link del tun-{{ name }} || true
{% elif tunnel.type == 'sixinfour' %}
iface tun-{{ name }} inet6 v4tunnel
  local {{ tunnel.sixinfour.local | default(grains.fqdn_ip4[0]) }}
  endpoint {{ tunnel.sixinfour.endpoint }}

  address {{ tunnel.ipv6.address }}/{{ tunnel.ipv6.prefixlength }}
{% endif -%}

  {%- if tunnel.get('vrf', False) %}
  post-up ip link set master {{ tunnel.vrf }} dev tun-{{ name }} || true
  {% endif %}

  {% if tunnel.ttl is defined -%} ttl {{ tunnel.ttl }} {% endif %}
  {% if tunnel.mtu is defined -%} mtu {{ tunnel.mtu }} {% endif %}

{% if tunnel.type != 'sixinfour' %}
  netmask {{ tunnel.ipv4.netmask | default('255.255.255.255') }}
  address {{ tunnel.ipv4.local_address }}
  dstaddr {{ tunnel.ipv4.remote_address }}

iface tun-{{ name }} inet6 static
  address {{ tunnel.ipv6.address }}/{{ tunnel.ipv6.prefixlength }}
{% endif %}

{% endfor %}
