{
  "Dhcp6":
  {
    "interfaces-config": {
      "interfaces": {{ salt['pillar.get']('dhcp:interface', [])|json }}
    },
    "lease-database": {
      "type": "memfile",
      "persist": true,
      "name": "/var/kea/dhcp6.leases"
    },
    "expired-leases-processing": {
      "reclaim-timer-wait-time": 10,
      "flush-reclaimed-timer-wait-time": 25,
      "hold-reclaimed-time": 3600,
      "max-reclaim-leases": 100,
      "max-reclaim-time": 250,
      "unwarned-reclaim-cycles": 5
    },
    "preferred-lifetime": 3000,
    "valid-lifetime": 4000,
    "renew-timer": 1000,
    "rebind-timer": 2000,
    "subnet6": [
      {
        "subnet": "2a03:2260:a:b::/64",
        "pd-pools": [
          {
            "prefix": "2a03:2260:a:1000::",
            "prefix-len": 52,
            "delegated-len": 64
          }
        ]
      }
    ],
    "loggers": [
      {
        "name": "kea-dhcp6",
        "output_options": [
          {
            "output": "/var/log/kea-dhcp6.log"
          }
        ],
        "severity": "INFO",
        "debuglevel": 0
      }
    ]
  }
}
