[Unit]
Description=Domain-Director - Directing ALL THE NODES
Wants=network.target
After=network.target

[Service]
Type=simple
User=director
Group=director
WorkingDirectory=/var/lib/director/domain-director
ExecStart=/var/lib/director/venv/bin/python3 -m director --config /etc/domain-director/%I.yml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
