{%- set fastd_ifname = salt['domain_networking.generate_ifname'](domain, 'fastd', fastd['name']) %}
{% set fastd_mac = salt['domain_networking.generate_mac'](domain, 'fastd', salt['pillar.get']('gwbatid'), fastd_id) -%}

interface {{ fastd_ifname }};

bind {{ salt['grains.get']('fqdn_ip4')[0] }}:{{ fastd['port'] }};
bind [{{ salt['grains.get']('fqdn_ip6')[0] }}]:{{ fastd['port'] }};

mtu {{ domain['fastd']['mtu'] }};

method "null+salsa2012+umac";
method "null+salsa2012+gmac";
method "salsa2012+umac";
method "salsa2012+gmac";

secure handshakes yes;

status socket "/run/fastd.{{ fastd_ifname }}.sock";

secret "{{ salt['pillar.get']('fastd:domains:secret') }}";

# blacklisting, everybody else will be accepted
on verify "/etc/fastd/fastdbl/fastd-blacklist.sh $PEER_KEY";


log to syslog as "{{ fastd_ifname }}" level debug;
hide mac addresses yes;
hide ip addresses yes;