{% set fqdn = salt['pillar.get']('fqdn') %}
{
  "nodeinfo": {
    "hostname": "{{ fqdn }}",
    "owner": {
      "contact": "info@karlsruhe.freifunk.net"
    },
    "system": {
      "site_code": "ffka",
      "role": "gateway"
    },
    "vpn": true
  }
}
