{% set fqdn = salt['pillar.get']('fqdn') %}
{
  "nodeinfo": {
    "hostname": "{{ fqdn }}",
    "owner": {
      "contact": "{{ ffka.site_contact }}"
    },
    "system": {
      "site_code": "{{ ffka.stie_code }}",
      "role": "gateway"
    },
    "vpn": true
  }
}
