{
  "nodeinfo": {
    "hostname": "albufer0.frickelfunk.net",
    "node_id": "deadcafe1337",
    "owner": {
      "contact": "info@karlsruhe.freifunk.net"
    },
    "system": {
      "site_code": "ffka",
      "role": "gateway"
    },
    "vpn": true,
    "pages": [
      "https://karlsruhe.freifunk.net/"
    ]
  },
}
