{% set fqdn_ip = salt['grains.get']('fqdn_ip4')[0] -%}
{% set fqdn_ip_6 = salt['grains.get']('fqdn_ip6')[0] -%}
{% set fastd_dev = salt['network.ifacestartswith']( fqdn_ip )[0] -%}

{% if ip_type == 4 %}
bind {{ fqdn_ip }}:20017 interface "{{ fastd_dev }}";
{% else %}
bind [{{ fqdn_ip_6 }}]:20017 interface "{{ fastd_dev }}";
{% endif %}

interface "{{ name }}";
mode tap;

method "null+salsa2012+umac";
method "null+salsa2012+gmac";
method "salsa2012+umac";
method "salsa2012+gmac";

# mtu for IPv6 reduced to 1406
#mtu 1426;
mtu 1406;

include "secret.conf";
secure handshakes yes;

log to syslog as "fd-{{ name }}" level debug;
hide mac addresses yes;
hide ip addresses yes;

peer limit 5;

status socket "/run/fastd.fd-{{ name }}.sock";

# blacklisting, everybody else will be accepted
on verify "
  /etc/fastd/fastdbl/fastd-blacklist.sh $PEER_KEY
";

on up "
    ip link set dev ${INTERFACE} address {{ mac }}
    ip link set dev ${INTERFACE} up
{% for hoodname, hood in salt['pillar.get']('hoods').items() %}
	{%- set vlan_id = '%02d' | format(hood.hood_id) -%}
	ip link add link ${INTERFACE} name ${INTERFACE}.{{ vlan_id }} type vlan id {{ vlan_id }}
	batctl -m bat_{{ hoodname }} if add ${INTERFACE}.{{ vlan_id }}
{% endfor %}
    chmod 777 /run/fastd.fd-{{ name }}.sock
";
