{% set fqdn_ip = salt['grains.get']('fqdn_ip4')[0] -%}
{% set fqdn_ip_6 = salt['grains.get']('fqdn_ip6')[0] -%}
{% set fastd_dev = salt['network.ifacestartswith']( fqdn_ip )[0] -%}

{% if ip_type == "v4" %}
bind {{ fqdn_ip }}:{{ port }} interface "{{ fastd_dev }}";
{% else %}
bind [{{ fqdn_ip_6 }}]:{{ port }} interface "{{ fastd_dev }}";
{% endif %}
interface "fd-{{name}}";
# user "nobody";
mode tap;
method "null+salsa2012+umac";
method "null+salsa2012+gmac";
method "salsa2012+umac";
method "salsa2012+gmac";
# mtu for IPv6 reduced to 1406
#mtu 1426;
mtu 1406;
include "secret.conf";
secure handshakes yes;
log to syslog as "fd-{{name}}" level debug;
hide mac addresses yes;
hide ip addresses yes;
peer limit 100;

status socket "/run/fastd.fd-{{name}}.sock";

#folgende Zeile sorgt dafuer das jeder Peer akzeptiet wird
#on verify "true";

# blacklisting, everybody else will be accepted
on verify "
  /etc/fastd/fastdbl/fastd-blacklist.sh $PEER_KEY
";


#include peers from "peers";

on up "
    ip link set dev $INTERFACE address {{mac}}
    ip link set dev $INTERFACE up
    ifup bat_{{ hoodname }}
    batctl -m bat_{{ hoodname }} if add $INTERFACE
    chmod 777 /run/fastd.fd-{{name}}.sock
";
