{% set fqdn_ip = salt['grains.get']('fqdn_ip4')[0] -%}
{% set fastd_dev = salt['network.ifacestartswith']( fqdn_ip )[0] -%}


bind {{bind}} interface "{{ fastd_dev }}";
interface "mesh-ffka-{{name}}";
# user "nobody";
mode tap;
method "null+salsa2012+umac";
method "null+salsa2012+gmac";
method "salsa2012+umac";
method "salsa2012+gmac";
# mtu for IPv6 reduced to 1406
#mtu 1426;
mtu 1406;
include "secret.conf";
secure handshakes yes;
log to syslog as "fastd-ffka-{{name}}" level debug;
hide mac addresses yes;
hide ip addresses yes;
peer limit 100;

status socket "/var/run/fastd.ffka-{{name}}.sock";

#folgende Zeile sorgt dafuer das jeder Peer akzeptiet wird
on verify "true";

# blacklisting, everybody else will be accepted
#on verify "
#  /etc/fastd/fastdbl/fastd-blacklist.sh $PEER_KEY
#";


#include peers from "peers";

on up "
    ip link set dev $INTERFACE address {{mac}}
    ip link set dev $INTERFACE up
    ifup bat0
    batctl if add $INTERFACE
";
